.scrollListContainer {
  position: relative;
  width: 100%;
}


.scrollList::-webkit-scrollbar {
  width: 8px;
}

.scrollList::-webkit-scrollbar-track {
  background: transparent;
}

.scrollList::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

.scrollList::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.noScrollbar::-webkit-scrollbar {
  display: none;
}

.noScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item {
  padding: 16px;
  background-color: #170d27;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.item:last-child {
  margin-bottom: 0;
}

.itemSelected {
  background-color: #271e37;
}

.itemText {
  color: white;
  margin: 0;
}

.topGradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), transparent);
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.bottomGradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent);
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10;
}

